@model IEnumerable<FlexMovies.Models.BoughtMovie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.List.ListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostToBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoughtDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.List.ListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostToBuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoughtDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoughtMovieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoughtMovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoughtMovieID })
        </td>
    </tr>
}

</table>
