@model IEnumerable<FlexMovies.Models.RentedMovie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostToRent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesRented)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostToRent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesRented)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentedMovieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentedMovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentedMovieID })
        </td>
    </tr>
}

</table>
