@model FlexMovies.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCSecCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCSecCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMoviesRented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMoviesRented)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountRented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountRented)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountBought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountBought)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
